In [10]:
print("The {1} {1} {1}".format("fox", "bear", "bee"))

The bear bear bear

In [14]:
print("The {b} {a} {c}".format(a="unicorn", b="fly", c="wasp"))

The fly unicorn wasp

In [25]:
result = 105212/3
result

35070.666666666664

In [27]:
print("The result was {r:1.3f}".format(r=result))

The result was 35070.667

In [29]:
print(f"The result was {result:1.3f}")

The result was 35070.667

In [2]:
my_list = ['one','two','three']
my_new_list = ['four', 'five', 'six']

my_new_new_list = my_list + my_new_list

In [3]:
my_new_new_list

['one', 'two', 'three', 'four', 'five', 'six']

In [5]:
my_new_new_list[0] = my_new_new_list[0].upper()
my_new_new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [7]:
my_new_new_list[1].upper()

'TWO'

In [8]:
my_new_new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [9]:
my_new_new_list.append('seven')
my_new_new_list

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [10]:
my_new_new_list.pop()

'seven'

In [11]:
my_new_new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [14]:
popped_item = my_new_new_list.pop(0)

In [15]:
popped_item

'ONE'

In [16]:
my_new_new_list

['two', 'three', 'four', 'five', 'six']

In [17]:
new_list = ['a', 'e', 'x', 'c', 'b']
num_list = [4,1,3,8,15,2]

In [18]:
new_list.sort()
new_list

['a', 'b', 'c', 'e', 'x']

In [20]:
num_list.sort()
num_list

[1, 2, 3, 4, 8, 15]

In [28]:
num_list.reverse()
num_list

[15, 8, 4, 3, 2, 1]

In [29]:
concatanated_list = num_list + new_list
concatanated_list

[15, 8, 4, 3, 2, 1, 'a', 'b', 'c', 'e', 'x']

In [31]:
my_dict = {'key1': 'value', 'key2': 2}
my_dict

{'key1': 'value', 'key2': 2}

In [32]:
my_dict['key1']

'value'

In [51]:
prices_lookup = {'dougnut': 3.5, 'apple': 1.15, "milk": 5.32}
prices_lookup["apple"]

1.15

In [52]:
prices_ware = list((prices_lookup.keys()))
prices_ware

['dougnut', 'apple', 'milk']

In [54]:
prices = list(prices_lookup.values())
prices

[3.5, 1.15, 5.32]

In [58]:
d = {"k1":123, 'k2':[0,1,2], 'k3':{'nested_key': 100}}
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'nested_key': 100}}

In [62]:
d['k2'][2]

2

In [63]:
d['k3']['nested_key']

100

In [65]:
d = {'k1': ['a', 'b', 'c']}
d['k1'][2].upper()

'C'

In [66]:
d['k2'] = 'new key/value pair'
d

{'k1': ['a', 'b', 'c'], 'k2': 'new key/value pair'}

In [67]:
d['k2'] = 'appended value'
d

{'k1': ['a', 'b', 'c'], 'k2': 'appended value'}

In [68]:
t = ('a', 'b', 'a')
t.count('a')

2

In [69]:
t.index('a'), t.index('b')

(0, 1)

In [71]:
my_set = {1,2,3,4,1}
my_set

{1, 2, 3, 4}

In [72]:
my_list = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]
set(my_list)

{1, 2, 3}

In [73]:
set('mississippi')

{'i', 'm', 'p', 's'}

In [98]:
%%writefile myfile.txt
Hello this is a text file
this is second line
this is third line

Overwriting myfile.txt

In [99]:
my_file = open('myfile.txt')

In [100]:
my_file.read()

'Hello this is a text file\nthis is second line\nthis is third line\n'

In [101]:
my_file.read()

''

In [102]:
my_file.seek(0)
my_file.read()

'Hello this is a text file\nthis is second line\nthis is third line\n'

In [103]:
my_file.seek(0)
my_file.readlines()

['Hello this is a text file\n',
 'this is second line\n',
 'this is third line\n']

In [104]:
my_file.close()

In [105]:
with open('myfile.txt', mode = 'r') as f:
    print(f.read())

Hello this is a text file
this is second line
this is third line

In [106]:
with open("myfile.txt", mode = 'a') as f:
    f.write("this is a fourth line")

with open('myfile.txt', mode = 'r') as f:
    print(f.read())

Hello this is a text file
this is second line
this is third line
this is a fourth line

In [110]:
a = 5 
b = 4
(a<0) ^ (b<0)

False

In [113]:
my_str = "not bad"
my_str[:5]

'not b'

In [115]:
my_str[:2] + my_str[3:]

'no bad'

In [119]:
my_str[0] + my_str[1:-1] + my_str[-1]

'not bad'

In [120]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [122]:
d['k1'][2]['k2'][1]['tough'][2]

['hello']

In [127]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for i in my_list:
    if i % 2:
        print(i)
    else:
        print(f"it's even: {i}")

1
it's even: 2
3
it's even: 4
5
it's even: 6
7
it's even: 8
9
it's even: 10

In [128]:
my_list =[(1,2),(3,4),(5,6),(7,8)]
len(my_list)

4

In [130]:
for tupl in my_list:
    for item in tupl:
        print(item)

1
2
3
4
5
6
7
8

In [131]:
for a,b in my_list:
    print(f"{a} ----> {b}")

1 ----> 2
3 ----> 4
5 ----> 6
7 ----> 8

In [133]:
for item in my_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [134]:
d = {'k1': 1, 'k2':2, 'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [137]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [138]:
for key, value in d.items():
    print(f"key: {key}, value: {value}")

key: k1, value: 1
key: k2, value: 2
key: k3, value: 3

In [140]:
x = 0

while x<5:
    print(f"value of x is {x}")
    x+=1
else:
    print("x is not less than 5")

value of x is 0
value of x is 1
value of x is 2
value of x is 3
value of x is 4
x is not less than 5

In [141]:
x = [1,2,3]

for i in x:
    pass #placeholder

In [145]:
my_string = 'Hubert Blaine Wolfeschlegelsteinhausenbergerdorff'

for letter in my_string:
    if letter == 'u':
        continue
    if letter == 'o':
        break
    print(letter)

H
b
e
r
t

B
l
a
i
n
e

W

In [146]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [150]:
word ='abcde'

for index, letter in enumerate(word):
    print(f"{index}: {letter}")

0: a
1: b
2: c
3: d
4: e

In [154]:
my_list1 = [1,2,3,4,5,6]
my_list2 = ['a', 'b', 'c']
my_list3 = [100, 200, 300]

for item in zip(my_list1, my_list2, my_list3):
    print(item)

1
2
3

In [155]:
my_list1 = [1,2,3,4,5,6]
my_list2 = ['a', 'b', 'c']
my_list3 = [100, 200, 300]

for a, _, _ in zip(my_list1, my_list2, my_list3):
    print(a)

1
2
3

In [158]:
mlist = ['a', 'b', 'c']
'a' in mlist, 'f' in mlist

(True, False)

In [163]:
'mykey' in {'mykey': 1}, 345 in {'mykey': 345}, 345 in {'mykey': 345}.values()

(True, False, True)

In [173]:
from random import shuffle, seed, randint

In [174]:
seed(42)

my_list = [1,2,3,4,5,6,7,8,9,10]
shuffle(my_list)
my_list

[8, 4, 3, 9, 6, 7, 10, 5, 1, 2]

In [177]:
randint(0,100)

4

In [179]:
my_list = []
my_string = 'hello'

for letter in my_string:
    my_list.append(letter)
my_list

['h', 'e', 'l', 'l', 'o']

In [186]:
# or using list comprehension

my_list = [letter for letter in my_string]

In [187]:
my_list

['h', 'e', 'l', 'l', 'o']

In [189]:
my_list = [letter+letter for letter in my_string if letter != 'l']
my_list

['hh', 'ee', 'oo']

In [196]:
even = [nums for nums in range(0,11) if not nums%2]
odd = [nums for nums in range(0,11) if  nums%2]
even, odd

([0, 2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

In [197]:
squared = [nums**2 for nums in range(0,6)]
squared

[0, 1, 4, 9, 16, 25]

In [203]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [206]:
[x if not x%2 else "ODD" for x in range(0,11)]

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [207]:
stru = 'sss'
stru*3

'sssssssss'

In [209]:
list(range(5))

[0, 1, 2, 3, 4]

In [210]:
a = [0,1,2,3,4,5]
len(a)

6

In [212]:
list(range(4))

[0, 1, 2, 3]

In [214]:
for i in range(2):
    print(i)

0
1

In [218]:
mylist = [100, 0 ,2 ,5, 100]
for i, _ in enumerate(mylist):
    print(f"{i}: {mylist[i]}")

0: 100
1: 0
2: 2
3: 5
4: 100

In [228]:
def sum13(nums):
  if len(nums) == 0:
    return 0
  else:
    count = 0
    for index, _ in enumerate(nums):
      if nums[index] == 13:
        print(count)
        continue
      elif nums[index-1] == 13 and index != 0:
        print(count)
        continue
      else:
        count += nums[index]
        print(count)
    return count

In [229]:
sum13([1, 2, 2, 1, 13])

1
3
5
6
6

6

In [230]:
def even_check(num):
    return num%2 == 0

In [231]:
even_check(1)

False

In [236]:
from random import shuffle

def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

my_list = [' ', 'O', ' ']

def player_guess():
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input("Pick a number from 0, 1 or 2: ")        
    return int(guess)

In [237]:
player_guess()

Pick a number from 0, 1 or 2: 2

2

In [238]:
def check_guess(mylist, guess):
    if mylist[guess] == 'O':
        print("Correct!")
    else:
        print("Wrong guess :c")
        print(mylist)

In [246]:
def guessing_game():
    
    mylist = [' ', 'O', ' ']
    shuffle_list(mylist)
    print("shuffling...")
    
    guess = player_guess()
    
    check_guess(mylist, guess)

In [250]:
guessing_game()

shuffling...
Pick a number from 0, 1 or 2: 0
Correct!

In [252]:
def myfunc(*args):
    return sum(args)
myfunc(10,20,30)

60

In [256]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')
        
myfunc(fruit = ['banana', 'bike'])

My fruit of choice is ['banana', 'bike']

In [258]:
def myfunc(*args, **kwargs):
    print(f"I would like a {args[0]} and a {kwargs['food']}")
myfunc('mug', 'granade', food = 'banana', animal = 'alpaca')

I would like a mug and a banana

In [261]:
def myfunc(*args):
    return [i for i in args if i % 2 == 0]

In [262]:
myfunc(1,2,3,4)

[2, 4]

In [263]:
def square(num):
    return num**2

In [264]:
my_nums = [1,2,3,4,5]

In [267]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [268]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [269]:
def splicer(my_string):
    if len(my_string)%2 == 0:
        return "EVEN"
    else:
        return my_string[0]
names = ["Andy", "Bob", "Eve", "Sally"]

In [270]:
list(map(splicer, names))

['EVEN', 'B', 'E', 'S']

In [272]:
def check_even(num):
    return num%2==0

my_nums = [0,1,2,3,4,5,6]

list(filter(check_even, my_nums))

[0, 2, 4, 6]

In [273]:
square = lambda num: num**2
square(3) # it can be assign to a variable but usually used with maps and filter

9

In [274]:
list(map(lambda num: num**2, my_nums))

[0, 1, 4, 9, 16, 25, 36]

In [275]:
list(filter(lambda num: num%2==0, my_nums))

[0, 2, 4, 6]

In [278]:
names

['Andy', 'Bob', 'Eve', 'Sally']

In [277]:
list(map(lambda name: name[0], names))

['A', 'B', 'E', 'S']

In [ ]:
def printer():
    x = 50
    return x

In [280]:
def display():
    print([' ', ' ', ' '])
    print([' ', ' ', ' '])
    print([' ', ' ', ' '])
    
display()

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [290]:
result = ''
while result not in ['1', '2', '3']:
    result = input("Enter a number between 1 to 3: ")

result = int(result)
type(result)

Enter a number between 1 to 3: 2

int

In [298]:
from IPython.display import clear_output
clear_output()

In [323]:
def user_choice():
    choice = ''
    
    while choice not in ['0','1','2']:
        choice = input("Pick a position to replace (0, 1, 2): ")
        
        if choice not in ['0', '1', '2']:
            clear_output()
            print("Wrong position")
    
    return int(choice)

def display_list(some_list):
    print(some_list)
    
def game():

    game_on = True
    game_list = ['a', 'b', 'c']
    
    while game_on:
    
        clear_output()
        print("Current list: ")
        display_list(game_list)
        index = user_choice()
        
        symbol = 'aaaa'
        while len(symbol) > 1:
            symbol = input("enter the replace symbol: ")
        
        game_list[index] = symbol
        print("Current list: ")
        display_list(game_list)
        
        choice = ''
        while choice not in ['Y', 'N']:
            choice = input("Do you want to play again? Y/N ").upper()
        if choice == 'N':
            game_on = False

In [324]:
game()

Wrong position
Pick a position to replace (0, 1, 2): 0
enter the replace symbol: %%%
enter the replace symbol: $
Current list:
['$', 'b', 'c']
Do you want to play again? Y/N N

In [1]:
class SampleClass():
    pass

my_sample = SampleClass()
type(my_sample)

__main__.SampleClass

In [15]:
class Dog():
    
    # CLASS OBJECT ATTRIBUTE
    # SAME FOR ANY INTANCE OF A CLASS
    species = 'mammal'
    
    def __init__(self,breed, name): # self is a keyword for given instance of a class
        
        # Attributes 
        # We take in the argument
        # Assign it using self.attribute_name
        self.breed = breed
        self.name = name
    # OPERATIONS/Actions ---> methods (function that is defined inside of a class)
    
    def bark(self, number = 5):
        print(f"woof, my name is {self.name} and the number is {number}")

In [16]:
my_dog = Dog("Schnauzer", "Bob")
my_dog.breed, my_dog.species

('Schnauzer', 'mammal')

In [21]:
my_dog.bark(10)
my_dog.bark()

woof, my name is Bob and the number is 10
woof, my name is Bob and the number is 5

In [28]:
class Circle():
    
    pi = 3.14
    
    def __init__(self, radius = 1):
        self.radius = radius
        self.area = radius*radius*Circle.pi # ensuring that pi won't change for some instance
    
    def get_circumference(self):
        return self.radius * self.pi * 2

In [29]:
my_circle = Circle(3)
my_circle.get_circumference()

18.84

In [30]:
class Animal():
    def __init__(self):
        print("ANIMAL CREATED")
    def who_am_i(self):
        print("I am an animal")
    def eat(self):
        print("I am eating")

In [31]:
my_animal = Animal()

ANIMAL CREATED

In [50]:
class Dog(Animal): # dog inherits the attributes and functions of animal
    
    def __init__(self):
        Animal.__init__(self)
        print("Dog created")
    
    def who_am_i(self): # rewriting methods
        print("I am a dog")

In [51]:
my_dog = Dog()

ANIMAL CREATED
Dog created

In [52]:
my_dog.eat()

I am eating

In [53]:
my_dog.who_am_i()

I am a dog

In [84]:
class Book():
    
    def __init__(self, title, author, pages):
        self.title = title
        self.author = author
        self.pages = pages
        
    def __str__(self):
        return (f"{self.title} by {self.author}")
    
    def __len__(self):
        return int(self.pages)
    
    def __del__(self):
        print("A book object has been deleted")

In [85]:
b = Book("Dune", "Herbert", "600")

In [86]:
print(b)

Dune by Herbert

In [87]:
len(b)

600

In [88]:
del b

A book object has been deleted

In [100]:
# def pair_reverter(num):
#   num = str(num)
#   n = 2
#   sorted = [num[i:i+n] for i in num]

#   return sorted[::-1].join()


# pair_reverter(12345678)

num = 12345678

num = str(num)

a = [num[i:i+2] for i in range(0, len(num), 2)]
int(''.join(a[::-1]))

78563412

In [101]:
a = (1,2)
a[1] - a[0]

1

## Error handling

In [1]:
def add(num1, num2):
    return num1 + num2

add(10, 20)

30

In [3]:
number1 = 10
number2 = input("Enter your number: ")

Enter your number: 20

In [4]:
add(number1, number2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
try:
    # WANT TO ATTEMPT THIS CODE
    # MAY HAVE AN ERROR
    add(10, '10')
except:
    # WHAT HAPPENS WHEN ERROR HAPPENS
    print("Looks like you're adding incorrectly")

Looks like you're adding incorrectly

In [6]:
try:
    result = add(10, 10)
except:
    print("Looks like you're adding incorrectly")
else:
    print("Add went well")
    print(result)

Add went well
20

In [8]:
try:
    f = open('testfile', 'w')
    f.write("Write a test line")
except TypeError:
    print("There was a type error")
except OSError:
    print("you have an OS error")
finally:
    print("I always run")

I always run

In [9]:
try:
    f = open('testfile', 'r')
    f.write("Write a test line")
except TypeError:
    print("There was a type error")
except OSError:
    print("you have an OS error")
except:
    print("All other exceptions")
finally:
    print("I always run")

you have an OS error
I always run

In [12]:
def ask_for_int():
    
    while True:
        try:
            result = int(input("Please enter an integer: "))
        except:
            print("Woops, not an integer")
        else:
            break
        finally:
            print("End of try/except/finally")

In [13]:
ask_for_int()

Please enter an integer: a
Woops, not an integer
End of try/except/finally
Please enter an integer: ab
Woops, not an integer
End of try/except/finally
Please enter an integer: 20
End of try/except/finally

In [6]:
def hello(name = 'Maciek'):
    print("The hello() function has been executed")
    
    def greet():
        return "\tThe greet() function has been executed"
        
    def welcome():
        return "\tThe welcome() function has been executed"
        
    if name == "Maciek":
        return greet
    else:
        return welcome

hello()

The hello() function has been executed

In [9]:
my_new_func = hello()

The hello() function has been executed

In [10]:
my_new_func

In [11]:
my_new_func()

'\tThe greet() function has been executed'

In [12]:
print(my_new_func())

	The greet() function has been executed

In [18]:
def cool():
    
    def super_cool():
        return "I am very cool"
    
    return super_cool

In [19]:
some_func = cool()

In [21]:
some_func()

'I am very cool'

In [22]:
def hello():
    return "Hi maciek"

In [25]:
def other(some_def_func):
    print("Other code runs here!")
    print(some_def_func())
    
other(hello)

Other code runs here!
Hi maciek

## Decorator

In [26]:
def new_decorator(original_function):
    
    def wrap_func():
        
        print('Some extra code, before the original function')
        
        original_function()
        
        print("Some extra code after original function")
        
    return wrap_func

In [27]:
def func_needs_decorator():
    print("I want to be decorated!")

In [29]:
decorated_function = new_decorator(func_needs_decorator)

In [30]:
decorated_function()

Some extra code, before the original function
I want to be decorated!
Some extra code after original function

In [32]:
@new_decorator
def func_needs_decorator():
    print("I want to be decorated!")

func_needs_decorator()

Some extra code, before the original function
I want to be decorated!
Some extra code after original function

In [33]:
func_needs_decorator()

Some extra code, before the original function
I want to be decorated!
Some extra code after original function